<div class="padding-left-right-15">
  <div class="row">
    <div class="col-lg-12 page-title">
      <span>
        <strong>Danh sách tài khoản</strong>
      </span>
      
      <span class="pull-right">
        <a (click)="deleteMultiAccShow(deleteMultiAcc, deleteMultiAccWrong)" class="btn_action">
          <i class="fa fa-trash-o" aria-hidden="true"></i>  Xóa
        </a>
      </span>
      <span class="pull-right padding-right-15">
        <a routerLink="create" class="btn_action">
          <i class="fa fa-plus-square-o" aria-hidden="true"></i>  Thêm mới
        </a>
      </span>
    </div>
    <div class="col-md-12 page-content" [ngBusy]="busy">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-striped">
        <thead>
          <tr>
            <th style="width: 20px"><input type="checkbox" (click)="checkAll(checkAll1.checked)" #checkAll1></th>
            <th style="width: 15%">Họ</th>
            <th style="width: 15%">Tên</th>
            <th style="width: 15%">Tên tài khoản</th>
            <th style="width: 15%">Nhóm khách hàng</th>
            <th class="text-center">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of pagedResult.items; let i = index">
            <td>
              <input type="checkbox" [checked]="person.check" (change)="person.check = !person.check">
            </td>
            <td>{{ person.firstName }}</td>
            <td>{{ person.lastName }}</td>
            <td>{{ person.userName }}</td>
            <td>{{ person.group }}</td>
            <td class="account-action">
              <div><a [routerLink]="['update', person.id]"><i class="fa fa-pencil color" aria-hidden="true"></i></a></div>
              <div><a [routerLink]="['permission', person.id]"><i class="fa fa-lock color" aria-hidden="true"></i></a></div>
              <div><a (click)="activeOrDeactive(person)"><i class="fa fa-check-circle" [class.color]="person.status == 'Active'" aria-hidden="true"></i></a></div>
              <div><a (click)="openModal(deleteSingleAcc, person.id)"><i class="fa fa-trash-o color" aria-hidden="true"></i></a></div>
            </td>
          </tr>
        </tbody>
      </table>
      <app-pagination [pagedResult]="pagedResult" (pagedResultChange)="pagedResultChange($event)"></app-pagination>
    </div>
  </div>
</div>

<ng-template #deleteSingleAcc>
  <div class="modal-header text-center">
    <h4 class="modal-title">THÔNG BÁO</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row form-group">Bạn chắc chắn muốn xóa tài khoản này?</div>
    <div class="row form-group" style="margin-top: 45px;">
      <div class="col-md-6">
        <button class="btn default-btn pull-right" (click)="clickDeleteAcc()">Có</button>
      </div>
      <div class="col-md-6">
        <button class="btn pull-left" (click)="modalRef.hide()">Không</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteMultiAcc>
  <div class="modal-header text-center">
    <h4 class="modal-title">THÔNG BÁO</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row form-group">Bạn chắc chắn muốn xóa những tài khoản này?</div>
    <div class="row form-group" style="margin-top: 45px;">
      <div class="col-md-6">
        <button class="btn default-btn pull-right" (click)="clickDeleteMultiAcc()">Có</button>
      </div>
      <div class="col-md-6">
        <button class="btn pull-left" (click)="modalRef.hide()">Không</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #deleteMultiAccWrong>
  <div class="modal-header text-center">
    <h4 class="modal-title">THÔNG BÁO</h4>
  </div>
  <div class="modal-body text-center">
    <div class="row form-group">Bạn cần chọn ít nhất 1 dòng để xóa</div>
    <div class="row form-group" style="margin-top: 45px;">
      <div class="col-md-12 text-center">
        <button class="btn default-btn" (click)="modalRef.hide()">Đồng ý</button>
      </div>
    </div>
  </div>
</ng-template>