.default-btn {
    background-color: red;
    color: white;
    padding: 6px 16px;
    &:hover, &:focus {
        color: white;
        outline: none;
    }
}

.cancel-btn {
    background-color: gray;
    color: white;
    padding: 6px 16px;
    &:hover, &:focus {
        color: white;
        outline: none;
    }
}
