
#wrraper{
    background: url('/assets/images/bg_login.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

.txtCompanyName h3{
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.form_login{
    background: white;
    padding-left: 20px;
    padding-right: 20px;
}

main{
    min-height: calc(100vh - 76px);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px){
    main{
        padding-left: 15px;
        padding-right: 15px;
        height: calc(100vh - 150px);
    }
}