.btn_view_more{
    padding-bottom: 30px;
}

.btn_view_more a{
    color: #777777;
    font-size: 1.6rem;
    padding-left: 8px;
}

:host /deep/ .ng-busy {
    // position: relative !important;
    top: calc(100% - 130px);
}

.page-content {
    ul {
        margin-top: 30px;
        list-style-type: none;
        dl {
            dt {
                padding-bottom: 5px;
            }
            dd:nth-child(3) {
                padding-top: 5px;
            }
        }
    }
    time {
        color: red;
        padding-top: 5px;
    }
}

.arrow-circle {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
}

#list-notice {
    li {
        border-bottom: 1px solid #dcdcdc;
        padding-top: 16px;
    }
    &:nth-child(1) {
        padding-top: 0;
    }
}

pre {
    white-space: pre-line;
    word-break: keep-all;
    background-color: unset;
    border: unset;
    font-family: Roboto;
    font-size: 16px;
}