<form>
    <div class="row form-group requited">
        <div class="col-md-2">
          Mật khẩu hiện tại
        </div>
        <div class="col-md-5">
          <input class="form-control">
        </div>
      </div>
      <div class="row form-group requited">
        <div class="col-md-2">
          Mật khẩu mới
        </div>
        <div class="col-md-5">
          <input class="form-control">
        </div>
      </div>
      <div class="row form-group requited">
        <div class="col-md-2">
          Xác nhận mật khẩu mới
        </div>
        <div class="col-md-5">
          <input class="form-control">
        </div>
      </div>
</form>