<div class="padding-left-right-15">
  <div class="row">
    <div class="col-lg-12 page-title">
      <span class="padding-right-15">
        <a class="" routerLink="/accounts">
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
      </span>
      <span>
        <strong>Chỉnh sửa tài khoản</strong>
      </span>

      <span class="pull-right">
        <a (click)="updateUser()" class="btn_action">
          <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu
        </a>
      </span>
    </div>
    <div class="col-md-12 page-content">
      <account-form [isCreate]="false" *ngIf="account | async as user" [user]="user" [isValid]="true"></account-form>
    </div>
  </div>
</div>