.rollback_home{
    color: #fefffe;
    margin-right: 10px;
}

.form-horizontal{
    padding-top: 25px;
    padding-bottom: 25px;
}

.text-left{
    text-align: left !important;
}

textarea {
    resize: none;
}