<div class="padding-left-right-15">
    <div class="row">
      <div class="col-lg-12 page-title">
        <span class="padding-right-15">
          <a class="" routerLink="/accounts">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          </a>
        </span>
        <span>
          <strong>Thay đổi mật khẩu</strong>
        </span>
  
        <span class="pull-right">
          <a routerLink="/accounts" class="btn_action">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu
          </a>
        </span>
      </div>
      <div class="col-md-12 page-content">
        <change-pass-form ></change-pass-form>
      </div>
    </div>
  </div>