<footer id="footer_page">
  <div class="guide clearfix">
    <div class="col-sm-6">
      <dl class="contact">
        <dt>LIÊN HỆ</dt>
        <dd>
          <a href="mailto:trangtri@trangtris.com">trangtri@trangtris.com</a>
        </dd>
        <dd>0297 3 853 035</dd>
      </dl>
    </div>
    <div class="col-sm-6 text-sm-right">
      <dl class="copyright pull-right">
        <dt>
          copyright
        </dt>
        <dd>
          © 2017. Bản quyền thuộc về Công ty CP Trang Trí
        </dd>
      </dl>
    </div>
  </div>
</footer>
