.input-code {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid white;
    background-color: #f58686;
    margin-left: 8px;
    text-align: center;
    &:first-child {
        margin-left: 0;
    }
    
    &:focus {
        outline: none;
        border: 2px solid #e86868;
    }
}