<app-frames>
  <div class="text-center">
    <h4 *ngIf="!wrongCode">Vui lòng nhập mã xác nhận đã được gửi đến địa chỉ email {{email}}</h4>
    <h4 *ngIf="wrongCode" style="color:red">Mã xác nhận không đúng, vui lòng kiểm tra lại</h4>
  </div>
  <div class="form-group text-center padding-top-15">
    <input type="text" class="input-code" maxlength="1" style="color: white" (keypress)="$event.keyCode >= 48 && $event.keyCode <= 57 && number2.select()" #number1>
    <input type="text" class="input-code" maxlength="1" style="color: white" (keypress)="$event.keyCode >= 48 && $event.keyCode <= 57 && number3.select()" #number2>
    <input type="text" class="input-code" maxlength="1" style="color: white" (keypress)="$event.keyCode >= 48 && $event.keyCode <= 57 && number4.select()" #number3>
    <input type="text" class="input-code" maxlength="1" style="color: white" (keypress)="$event.keyCode >= 48 && $event.keyCode <= 57 && number5.select()" #number4>
    <input type="text" class="input-code" maxlength="1" style="color: white" (keypress)="$event.keyCode >= 48 && $event.keyCode <= 57 && number6.select()" #number5>
    <input type="text" class="input-code" maxlength="1" style="color: white" (keypress)="$event.keyCode >= 48 && $event.keyCode <= 57" #number6>
  </div>
  <div class="form-group text-center">
    <a>Không nhận được mã xác nhận, <strong>gửi lại</strong></a>
  </div>
  <div class="form-group">
    <a style="width: 100%" class="btn btn-danger" (click)="validateActiveCode(number1.value, number2.value, number3.value, number4.value, number5.value, number6.value)">Gửi</a>
  </div>
  <div class="form-group text-center" style="padding-top: 41px">
    <a routerLink="/login">Trở về Đăng nhập</a>
  </div>
</app-frames>